

html {
	height: 100%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 20px;
	color: pink;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 20px;
	color: pink;
}