.garfield {

"TO ELECT AN IMAGE"
<background-image:  class="image1"></background-image>
<image2>

}

.image1{width:400px; height:133px; background:url(garfield.png) 0 0px;}

.image2{width:200px; height:133px; background:url(garfield.png) 400 0px;}

.image3{

}

.image4{

}

.image5{

}

.image6{

}

.image7{

}

.image8{

}

